<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div th:fragment="all">
		<!-- zui css -->
	    <link rel="stylesheet" th:href="@{/dist/css/zui.min.css}"/>
	    <link rel="stylesheet" th:href="@{/dist/theme/blue.css}"/>
	    <link rel="stylesheet" th:href="@{/css/sy.css}"/>
	    <link rel="stylesheet" th:href="@{/css/app.css}"/>
	    
	    <script type="text/javascript" th:src="@{/js/jquery-1.11.2.min.js}" charset="utf-8"></script>
	    <script type="text/javascript" th:src="@{/js/app.js}" charset="utf-8"></script>
	    <script type="text/javascript" th:src="@{/dist/js/zui.min.js}" charset="utf-8"></script>
		<script type="text/javascript" th:src="@{/js/bootstrapValidator.js}" charset="utf-8"></script>
		<script type="text/javascript" th:src="@{/js/bootstrapValidator-zh_CN.js}" charset="utf-8"></script>
	</div>
	

</body>
</html>