<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<!--针对最新IE的渲染-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<!--手机端显示-->
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<title>Apple</title>
	<!--/*/<th:block th:include="souye/all::all">/*/-->
	<!--/*/</th:block>/*/-->
</head>
<body>
	<div>
		<div id="header" th:include="souye/index::header"></div>
		
		<div id="leftnav" th:include="souye/menu::menu"></div>
	</div>

</body>

</html>